@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

/* Reset and Global Styles */
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: 'Heebo', sans-serif;
    overflow-x: hidden;
    background-color: #F8F8F8;
}

h1 {
    font-size: 3rem;
    /* Adjusted font size for better readability */
    font-weight: 700;
    /* Increased font weight for emphasis */

}

h2 {
    font-size: 2.5rem;
    /* Slightly smaller than h1 for hierarchy */
    font-weight: 600;
    /* Reduced font weight for distinction */
    line-height: 1.3;
    /* Improved line height for better spacing */
}


p {
    font-size: 1.2rem;
    /* Adjusted font size for paragraphs */
    font-weight: 400;
    line-height: 1.6;
    word-wrap: break-word;
    /* Ensure long words wrap to avoid overflow */
}

.heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}



/* Navigation Bar */
.Navigation {
    background-color: #FFFFFF;
    padding: 1rem;
    /* Increased padding for better spacing */
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* Changed to space-between for better alignment */
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

}

.nav-logo img {
    width: 110px;
    /* Adjusted logo size for better fit */
    height: auto;
}

.menu-item ul {
    list-style-type: none;
    padding: 0;
    margin: 0 3rem;
    display: flex;
}

.menu-item ul li {
    margin-right: 2rem;
    /* Adjust spacing between menu items */
    margin-top: 10px;
}

.menu-item ul li:last-child {
    margin-right: 0;
    /* Remove margin from the last item to avoid extra space */
}

.menu-item ul li a {
    text-decoration: none;
    color: #333;
    font-size: 17px;
    display: block;
    /* Ensure links are block-level elements for full width */
    transition: color 0.3s ease;
    /* Smooth transition for link color */
    font-weight: 500;
}

.menu-item ul li a:hover {
    color: #007bff;
}

/* Call Button */
.btn-call,
.btn-learn,
.btn-submit {
    background-color: #F9F404;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
    /* Adjusted padding for better button size */
    transition: background-color 0.3s, color 0.3s;
    /* Smooth transition on hover */
}

.btn-call:hover,
.btn-learn:hover,
.btn-submit:hover {
    background-color: #072449;
    color: #fff;
}

/* Hero Slider */


.carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 35, 55, 0.1), rgba(0, 35, 55, 0.8));
    /* Adjusted gradient opacity */
    z-index: 1;
}


.slide-heading {
    position: absolute;
    top: 50%;
    /* Centered vertically */
    left: 4%;
    transform: translateY(-50%);
    /* Adjusted for vertical centering */
    width: 100%;
    z-index: 1;
    color: #fff;
}

.slide-heading h1 {
    font-size: 4rem;
    /* Larger font size for hero heading */
}

.slide-heading p {
    font-size: 1.5rem;
    /* Larger font size for hero paragraph */
    width: 50%;
}

.featured-properties {
    margin-top: 10%;
}

/* Button for Carousel */
.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}

/* Inquiry Form */

.inquiry-form {

    position: absolute;
    top: 60%;
    /* Centered vertically */
    left: 60%;
    transform: translateY(-50%);
    /* Adjusted for vertical centering */
    z-index: 99;
    right: 100px;
}

.contact-description {
    line-height: normal;
    font-size: 1rem;
}

.card {
    border-radius: 8px;
}

/* Featured Properties */

.featured-properties h1 {
    font-size: 28px;
    margin-bottom: 24px;
}

.featured-card img {
    width: 100%;
    min-height: 200px;
    border-radius: 8px;
}

.img-hover-zoom {
    background: rgba(0, 35, 55, 1);
    overflow: hidden;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.img-hover-zoom img {
    transition: transform 2s, filter 1.5s ease-in-out;
    transform-origin: center center;
    filter: brightness(50%);
}

.img-hover-zoom:hover img {
    filter: brightness(100%);
    transform: scale(1.3);
}

.location {
    display: block;
    /* Ensures the small element is displayed as a block */
    margin-top: 0;
    /* Removes the top margin */
    padding-top: 0;
    /* Ensures no padding at the top */
    margin-bottom: 0;
    /* Removes the bottom margin if any */
}

.excerpt {
    margin-top: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 16px;
    line-height: normal;

}

.properties-status {
    position: absolute;
    right: 10px;
    top: 20px;
    border-radius: 16px;

    background-color: #F9F404;
}

.properties-status span {
    font-size: 16px;
    color: #333;
    font-weight: 400;
}

.properties-price {
    position: absolute;
    top: 120px;
    left: 20px;
}

.properties-price h5 {
    color: #F9F404;
    font-size: 16px;
    text-transform: uppercase;
}

.properties-price span {
    color: #FFFFFF;
    font-size: 20px;
}

/* Footer Section */
.footer-section {
    background-color: rgb(0, 35, 55);
    color: #fff;
    margin-top: 24px;

}

.footer-section .row {
    padding-top: 64px;
    padding-bottom: 64px;
}

.footer-desc {
    font-size: 0.9rem;
}


.social-media ul {
    list-style: none;
    display: flex;
    justify-content: start;
    padding: 0;

}

.social-media ul li {
    text-decoration: none;
    margin-right: 8px;
}

.social-media ul li i {
    background-color: #2B4859;
    padding: 16px;
    border-radius: 4px;
}

.social-media ul li i:hover {
    background-color: #F9F404;
    color: black;
}

.footer-heading {
    font-weight: 300;
    margin-bottom: 16px;
}

.quick-links ul,
.quick-call ul {
    list-style: none;

}

.quick-links ul li a {
    color: #FFFFFF;
    text-decoration: none;
    line-height: 1.9;
    font-size: 0.9rem;
}

.quick-links ul li i {
    font-size: 0.5rem;
    padding-right: 8px;
    color: #F9F404;
}

.inquiries {
    color: #F9F404;
}

.quick-call ul li {
    color: #FFFFFF;
    text-decoration: none;
    line-height: 1.9;
    font-size: 1rem;
}

.quick-call ul li i {
    padding-right: 8px;
}

/* About Us Page */
.hero {
    position: relative;
    width: 100%;
}

.hero img {
    height: 400px; /* specify the height with a unit */
    width: 100%; /* make sure the width covers the container */
    object-fit: cover; /* this ensures the image covers the container while maintaining aspect ratio */
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 35, 55, 0.4), rgba(0, 35, 55, 0.9));
    z-index: 1;
}

.hero img {
    position: relative;
    z-index: 0;
}
.about-header{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translateY(-50%, -50%);
    z-index: 1;
}

.about-header .heading{
    color: #FFFFFF;
    font-size: 72px;
    font-weight: 400;
}


/* Contact Us Page */
.contact-form{
    top: -30px;
   position: absolute;
   top: 80%;
   left: 8%;
   z-index: 2;
}
.contact-container{
    padding: 32px;
}

.contact-form .contact-inquiry{
    background-color: #FFFFFF;
}
.contact-form .contact-info{
    background-color: #002337;
    color: #fff;
    
  
}